/.idea/
*.phar
*.lock
/vendor/
/libasynDiscordWebHook-WDPE/.idea/
/libasynDiscordWebHook-WDPE/target/
/libasynDiscordWebHook-Nukkit/.idea/
/libasynDiscordWebHook-Nukkit/target/
/libasynDiscordWebHook-API/target/
/libasynDiscordWebHook-API/.idea/