/.idea/
*.phar
*.lock
/vendor/
/libasynDiscordWebhook-WDPE/.idea/
/libasynDiscordWebhook-WDPE/target/
/libasynDiscordWebhook-Nukkit/.idea/
/libasynDiscordWebhook-Nukkit/target/
/libasynDiscordWebHook-API/target/
/libasynDiscordWebHook-API/.idea/