name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Create Build
    if: "startsWith(github.event.head_commit.message, '[Release] ')"
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: robinraju/release-downloader@v1.8
        with:
          repository: "pmmp/PHP-Binaries"
          tag: "php-8.0-latest"
          fileName: "PHP-Linux-x86_64-PM4.tar.gz"

      - name: Prepare PHP
        run: |
          tar -xvzf PHP-Linux-x86_64-PM4.tar.gz -C ./.github/
          rm -r PHP-Linux-x86_64-PM4.tar.gz

      - uses: robinraju/release-downloader@v1.8
        with:
          repository: "iAldrich23xX/Phar-Builder"
          tag: "1.0"
          token: ${{ secrets.INTERNAL_TOKEN }}
          fileName: "PharBuilder.zip"

      - name: Prepare PharBuilder
        run: |
          mkdir .phar-builder
          unzip PharBuilder.zip -d ./.phar-builder/

      - name: Get Virion version
        id: yaml-data
        uses: jbutcher5/read-yaml@main
        with:
          file: './libasynDiscordWebHook-PM/virion.yml'
          key-path: '["version"]'

      - name: Compile virion
        run: |
          echo "Building"
          cd libasynDiscordWebHook-PM
          ./../.github/bin/php7/bin/php -dphar.readonly=0 ./../.phar-builder/PharBuilder/virion/VirionBuildScript.php --make . --out libasynWebHook-PM-virion-${{ steps.yaml-data.outputs.data }}.phar
          echo "Build completed!"

      - name: Compile example-plugins
        run: |
          echo "Building"
          cd libasynDiscordWebHook-PM/example-plugin
          wget https://getcomposer.org/download/latest-stable/composer.phar
          echo "Composer installing..."
          ./../../.github/bin/php7/bin/php composer.phar install --prefer-dist --no-interaction --no-dev
          rm -r composer.phar
          ./../../.github/bin/php7/bin/php -dphar.readonly=0 ./../../.phar-builder/PharBuilder/plugin/PluginBuildScript.php --make . --out pmmp4-example-${{ steps.yaml-data.outputs.data }}.phar
          echo "Build completed!"

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'corretto'
          cache: maven

      - name: Build
        run: mvn clean package

      - name: Get Maven version
        run: |
          VERSION=$(mvn -q -Dexec.executable='echo' -Dexec.args='${project.version}' --non-recursive exec:exec)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV     

      - name: Upload Artifact
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: ${{ github.workspace }}/libasynDiscordWebHook-API/target/libasynDiscordWebHook-API-${{ env.VERSION }}.jar, ${{ github.workspace }}/libasynDiscordWebHook-PM/example-plugin/*.phar, ${{ github.workspace }}/libasynDiscordWebHook-PM/*.phar
          draft: false
          name: Release v${{ env.VERSION }}
          tag: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
          body: "v1.1.0 define is channel of discord is forum & set title of 'post' forum"
          commit: ${{ github.sha }}
          allowUpdates: true
          removeArtifacts: false
          replacesArtifacts: false